<ion-content>
  <div class="contenedor">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/b-arriba.svg" class="w-100" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='12'>
          <div class="logoCont">
            <img src="../../assets/img/logo.png" class="logo" alt="">
            <div class="loader-cont" id="load-cont">
              <div class="loader" id="load"></div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col>
          <img src="../../assets/img/b-abajo.svg" class="w-100" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="copy">
    © 2021
  </div>
</ion-content>
